<button (click)="showAllAccounts()">Show All</button>
<div class="accounts-container" *ngIf="accounts.length>0">
    <h2>Accounts</h2>
    <table>
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Account Holder</th>
                <th>Current Balance</th>
                <th>Open Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
            <td>{{account.accountNumber}}</td>
            <td>{{account.owner | uppercase}}</td>
            <td>{{account.balance | currency : 'INR'}}</td>
            <td>{{account.openingDate | date : 'mediumDate'}}</td>
            <td>
                <button class="update-btn">Update</button>
                <button class="delete-btn">Delete</button>
            </td>
            </tr>
        </tbody>
    </table>
</div>