nav{
    margin-left: auto;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline-block;
    margin-left: 20px;
}
a{
    color:black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
a:hover{
    background-color:burlywood;
    border-radius: 5px;
}