:root{
    --primary-color: olive;
    --text-color: white;
    --link-text: white;
    --link-hover-color:#FF5733;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
