.coupon-container{
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:beige;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    color:black;
    text-align: center;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    color:black;
}
input[type="number"],[type="text"]{
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:darkgray;
    color: #333;
    cursor: pointer;
}
button:hover{
    background-color:burlywood;
}
.success{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color:black;
    border: 1px solid #c3e6cb;
}
.error{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fc0d0d;
    border: 1px solid #fcc2c3;
    color:black;

}